@import url("https://fonts.googleapis.com/css2?family=Huninn&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Huninn", sans-serif;
}

body {
    position: relative;
    background-color: lightcyan;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #001;
    
       
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000070;
    opacity: 0;
    visibility: hidden;
}

body.active::before {
    opacity: 1;
    visibility: visible;
}

.container {
    height: 50vh;
    display: flex;
    justify-content: center;
    
}

main h1{
    margin-bottom: 30px;
}

main p {
    font-size: 26px;
    font-weight: 600;

    margin-bottom: 10px;

}

.game {
    height: 40vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5vmin;
    justify-content: center;
}

.box {
    height: 14vmin;
    width: 14vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #42047e;
    background-color: #d7d7d7;
    font-weight: 900;
}

#reset {
    padding: 10px;
    font-size: 1rem;
    background: #ffffff;
    color: #000000;
    border-radius: 1rem;
    border: none;
    margin-top: 50px;
    transition: .2s;
    font-weight: 600;
    
}

#reset:hover{
    background: #2d2d2d;
    cursor: pointer;
    transform: scale(1.1);

}

.box:hover {
    background-color: #4b4b4b6a;
    cursor: pointer;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background: #ffffff;
    color: #000000;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    font-weight: 800;
    transition: .2s;
    margin-top: 10px;
}

#new-btn:hover{
    background: #000000;
    color: #fff;

}

#msg {
    font-size: 8vmin;
}

.msg-container {
    position: absolute;
    left: 50%;
    top: calc(50% - 15px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%) scale(0);
    background-color: #000000bd;
    height: 30vmin;
    width: calc(80vmin - 70px);
    color: #fff;
}

@media (max-width: 800px){

    #reset{
        margin-top: -100px;
    }
}
